PERSONAL_VAULT_PATH = "YOUR VAULT PATH" 

GEMINI_API_KEY= "YOUR GEMINI API KEY"

LLM_MODEL=gemini/gemini-3.1-flash-lite # by default, you can use Gemini LLM. If you want to use other LLMs, you can uncomment the line below and comment the Gemini line. For example, to use Ollama LLM, uncomment the line below and comment the Gemini line.
# LLM_MODEL=ollama/llama3